.pictureDetail{

    margin: 10px 40px;
}


.itemDetail{
    display: flex;
    flex-direction: row;
}

.informationDetail{

    margin: 50px  20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titleDetail{

    font-size: 20px;
}


.priceDetail{
    color:rgb(64,224,208);
}

.btn_confirm{

   
 
}

.btn_buy_now{

    border-radius: 5px;
    background: rgb(211,211,211);
    color: white;
/* 
    display: none; */
    margin-top: 20px;
}
  


