.pictureDetail{

    margin: 10px 40px;
}


.itemDetail{
    display: flex;
    flex-direction: row;

}

.informationDetail{

    margin: 50px  20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titleDetail{

    font-size: 20px;
}


.priceDetail{
    color:rgb(64,224,208);
}



.btn_buy_now{

    border-radius: 5px;
    background: rgb(211,211,211);
    color: white;
    margin: 20px 180px;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.589);
    
}
  

.pictureImage{

    height: 200px;
}


