.eachProductContent{

    display: flex;
    flex-direction: row;
    
}

.eachProduct{

    margin-bottom:25px ;
    justify-content: left;
    align-items: center;
}

.btnDeleteProduct{

    margin-left: 150px;
}