.wrapper_product{

    border: 2px solid #40E0D0;
    margin:10px 5px;
 
    height: 250px;
    text-align: center;
    border-radius: 10px;

    width: 150px;
 
}

.picture{

    align-items: center;
}


.wrapper_info_product{

    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

}


.price{

    color:rgb(64,224,208);
    margin-bottom: 3px;
}

.pictureList{

    height: 100px;
    margin-top: 5px;

}

.btn_see{

    

    color:rgb(255,255,255);
    padding: 3px;
    text-align: center;
    text-decoration: none;
    background: rgb(211,211,211);
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.589);
}

.btnSeeContainer{

    margin-top: 20px;
}