.btn_add_items{

    display: flex;
    justify-content: center;
    margin-top: 40px;
   
  
}

.btn_add_buy{
    flex-direction: column;
 
  
}

.btn_add_sub{
    border-radius: 8px;
    flex-direction: row;
}

.value_buy{

    width: 78px;
    text-align: center;
    
}

.buy_btn{
   text-align: center;
}


button.btn_sign{
   background-color:rgb(64,224,208)
}


.btn_buy_now{
    background: rgb(211,211,211);
    color: white;
}